In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] #создаем столбец с доходом
data['month'] = data['release_date'].apply(lambda x: x.split('/')[0]) # создаем столбец с месяцем
data['month'] = data['month'].astype('int32') # делаем месяцы числами

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [7]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] ='Winnie the Pooh (tt1449283)'
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = 109.65
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = 107
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
answers['6'] = '239. Avatar (tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [12]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = 1748


len(data[data.revenue > data.budget])# считаем кол-во фильмов со сборами больше бюджета

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
answers['9'] = '599. The Dark Knight (tt0468569)'


df_2008 = data[data.release_year==2008 ] # отбираем фильмы 2008 года
df_2008[df_2008.revenue == df_2008.revenue.max()] # находим самый кассовый

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'


df_period = data[data.release_year.isin([2012,2013,2014])] # отбираем фильмы 2012-2014 г.
df_period[df_period.profit==df_period.profit.min()] # находим самый убыточный

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [16]:
answers['11'] =  'Drama'


"""Способ 1. Решение при помощи библиотеки Сollections """

genre_max = Counter()
for i in data.genres.str.split('|'):
    genre_max += Counter(i)
genre_max.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [17]:
"""Способ 2. Считаем кол-во упоминаний каждого жанра из задания"""

action = len(data[data.genres.str.contains('Action')])
advent = len(data[data.genres.str.contains('Adventure')])
drama = len(data[data.genres.str.contains('Drama')])
comedy = len(data[data.genres.str.contains('Comedy')])
thriller = len(data[data.genres.str.contains('Thriller')])
genres = ['action','advent','drama','comedy','thriller']
df_g = pd.DataFrame(index=['total'],columns=genres)
df_g[genres] = [action,advent,drama,comedy,thriller]

df_g

      action advent drama comedy thriller
total    582    415   782    683      596

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
answers['12'] =  'Drama'

'''Решение при помощи библиотеки Сollections '''


df_profit= data[data.profit>0] # отбираем прибыльные фильмы
profit_genres_max = Counter()
for i in df_profit.genres.str.split('|'):
    profit_genres_max += Counter(i)
profit_genres_max.most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [19]:
answers['13'] =  'Peter Jackson'
data_dirs = data.copy() # создаем новый датафрейм для работы с режиссерами

data_dirs['dir'] = data_dirs['director'].str.split('|') # создаем колонку 'dirs' с режиссерами по одиночке
data_dirs = data_dirs.explode('dir') # разносим столбец 'dirs' с дублированием индексов
grouped_dirs = data_dirs.groupby('dir').sum() # группируем датафрейм по новому столбцу с режиссерами
grouped_dirs[grouped_dirs.revenue == grouped_dirs.revenue.max()]

,budget,revenue,runtime,vote_average,release_year,profit,month
dir,,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,95

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
answers['14'] =  'Robert Rodriguez'

data_dirs['action_indication'] = data.genres.apply(lambda x: 'Action' in x) # добавляем к датафрейму столбец- индикатор Action - фильма
action_df = data_dirs[data_dirs.action_indication==True] # новый датафрейм, в котором только Action - фильмы
action_df.dir.value_counts().head(1) # Считаем сколько раз здесь повторяется каждый режжисер

Robert Rodriguez    9
Name: dir, dtype: int64

#  15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
answers['15'] = 'Chris Hemsworth'

data_actors = data.copy() # создаем новый датафрейм для работы с актераи
data_actors['actor'] = data_actors.cast.str.split('|')# разделяем актеров в новом столбце  actor
data_actors = data_actors.explode('actor') # разносим столбец actor с дублированием индексов
df_2012 = data_actors[data_actors.release_year == 2012].copy() # выборка за 2012 год
grouped = df_2012.groupby('actor' ).sum() # группируе по каждому актеру
grouped[grouped.revenue == grouped.revenue.max()] # находим актера с максимальными кассовыми сборами

,budget,revenue,runtime,vote_average,release_year,profit,month
actor,,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773,24

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
answers['16'] =  'Matt Damon'
data_actors
high_budget_df = data_actors[data_actors.budget > data_actors.budget.mean()] # новый датафрейм, в котором колько высокобюджетные фильмы
high_budget_df.actor.value_counts().head(1) # считаем сколько раз здесь повторяется каждый актер

Matt Damon    18
Name: actor, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
answers['17'] = 'Action'
data_genres = data.copy() # для работы с жанрами
data_genres['genre'] = data_genres.genres.str.split('|')
data_genres = data_genres.explode('genre')

df_nicolas = data_genres[data_genres.cast.str.contains('Nicolas Cage')]
df_nicolas.genre.value_counts().head(1)

Action    17
Name: genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
answers['18'] = 'K-19: The Widowmaker'

df_paramount = data[(data.production_companies.str.contains('Paramount Pictures')) ] 
df_paramount[df_paramount.profit == df_paramount.profit.min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
answers['19'] = '2015'
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
answers['20'] = '2014'

data_stud = data.copy() # для работы со студиями
data_stud['stud'] = data_stud.production_companies.str.split('|')
data_stud = data_stud.explode('stud')
df_warner = data_stud[data_stud.stud.str.contains('Warner Bros')]
df_warner.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
answers['21'] = 'Сентябрь'
data.groupby('month').imdb_id.nunique().sort_values(ascending=False).head(1)

month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
answers['22'] = '450'

df_summer = data[data.month.isin([6,7,8])] # отбираем фильмы за лето
df_summer.imdb_id.nunique() # уникальное кол-во фильмов за лето

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
answers['23'] = 'Peter Jackson'
#data_dirs - датафрейм, в котором есть столбец с режиссерами. С его помощью будем считать
df_winter = data_dirs[data_dirs.month.isin([12,1,2])] # отбираем фильмы за зиму
df_winter.dir.value_counts(ascending=False).head(1) # смотрим сколько раз встречается каждый режиссер и берем самого частовстречающегося

Peter Jackson    7
Name: dir, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
answers['24'] = 'Four By Two Productions'
#data_stud - датафрейм, в котором есть столбец со студиями. С его помощью будем считать
data_stud['film_name_length'] = data_stud.original_title.apply(lambda x: len(x)) #создаем столбец с количеством символов в названии фильма
data_stud.groupby('stud')['film_name_length'].max().sort_values(ascending=False).head(1) #получаем искомую студию

stud
Four By Two Productions    83
Name: film_name_length, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
answers['25'] = 'Midnight Picture Show'

data_stud['film_overview_length'] = data_stud.overview.apply(lambda x: len(x.split(' '))) #создаем столбец с количеством слов в описании фильма
data_stud.groupby('stud')['film_overview_length'].mean().sort_values(ascending=False).head(1) # находим оскомую студию

stud
Midnight Picture Show    175.0
Name: film_overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [32]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

rate = data.groupby('original_title')['vote_average'].max().sort_values(ascending=False) # группируем по фильмам с лучшим рейтингом
rate[0:int(len(rate)*0.01)] # отбираем один процент

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [33]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'


actors_in_film = data.copy() # 
actors_in_film['actors'] = actors_in_film.cast.str.split('|')# создаем столбец, где актеры в одном фильме
comb = [] # список со списками комбинаций пар актеров в каждом фильме
for i in actors_in_film.actors:
      comb.append(list(combinations(i,2)))# 
b = []
for j in comb:
    b+=j  # из списка со списками создаем простой список
pd.Series(b).value_counts().head(1)

(Daniel Radcliffe, Rupert Grint)    8
dtype: int64

# Submission

In [34]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.65,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1748,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

27